
@media only screen
and (min-width : 1224px) {
a:link,a:visited,a:hover,a:active
{text-decoration:none;
font-size:4;
color:inherit; }
body
{background-image:url('../image/bokeh3.JPG');
background-size:1280px 800px;
overflow:visible; }
button
{border:outset;
border-color:lime;
border-width:4px;
border-radius:1000px;
background-color:lime;
color:fuchsia;
display:inline-block;
font-weight:bolder;
text-align:center;
text-decoration:none;
height:80px;
width:80px; }
button:hover
{color:lime;
background-color:fuchsia;
font-weight:bolder;
target:_self; }
}
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
a:link,a:visited,a:hover,a:active
{text-decoration:none;
font-size:4;
color:inherit; }
body
{background-image:url('../image/bokeh3.JPG');
background-size:1400px 700px;
overflow:visible; }
button
{border:outset;
border-color:lime;
border-width:3px;
border-radius:1000px;
background-color:lime;
color:fuchsia;
display:inline-block;
font-weight:bolder;
text-align:center;
text-decoration:none;
height:70px;
width:70px; }
button:hover
{color:lime;
background-color:#00CC00;
font-weight:bolder;
target:_self; }
}
